article.conteudo section.item{
    background: white;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;
    margin-top: 20px;
}

article.conteudo section.item .dados{
    flex-grow: 1;
    padding: 23px;
    
}

article.conteudo section.item .dados > *{
    margin:0;
    justify-content: center;
}

article.conteudo section.item img{
    flex-grow: 0;
    max-width: 239px;
    max-height: 160px;
}

article.conteudo section.item a:link,
article.conteudo section.item a:visited,
article.conteudo section.item a:hover,
article.conteudo section.item a:active{
    text-decoration: none;
}

@media screen and (max-width: 720px){
    article.conteudo section.item{
        flex-wrap: wrap;
    }

    article.conteudo section.item img{
        width: 100%;
        max-width: 100%;
    }
}

article.conteudo section.item h2{
    grid-area: titulo;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-indigo);
}

article.conteudo section.item h3{
    grid-area: negocio;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
}

article.conteudo section.item h4{
    grid-area: localizacao;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey);
}

article.conteudo a:link{
    text-decoration: none !important;
}