main section.detalhar{
    background: white;
    display: grid;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-rows: auto auto;
    grid-template-areas: "imagem" "texto";
}

main section.detalhar img{
    grid-area: imagem;
    width: 100%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

main section.detalhar .Lorem-ipsum-dolor-si {
    grid-area: texto;
    width: 100%;
    height: initial;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    text-align: justify;
    color: var(--warm-grey);
}