
.BuscarPage{
    width:100%;
}

article.conteudo{
    width: 92%;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.background {
    /*background-image: linear-gradient(173deg, #ee4c77, #0d0430);*/
    background: #ee4c77;
}

nav.busca .logo_nav {
    height: 37%;
    object-fit: contain;
}

nav.busca label .ic_search-copy {
    position: absolute;
    right: 0%;
    height: 100%;
    object-fit: contain;
}

nav.busca label input, nav.busca label .ic_close{
    display: none;
}

nav.busca label{
    width: 92%;
    height: 39%;
    position: absolute;
}

nav.buscando .logo_nav{
    display: none;
}

nav.buscando label{
    display: flex;
    width: 92%;
    height: 39%;

    justify-content: space-around;
    border-bottom: solid 1px #979797;
}

nav.buscando label input{
    flex-grow: 1;
    background: transparent;
    border: none;
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    min-width: 0px;
}

nav.buscando label input::placeholder{
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #991237;
}

nav.buscando label .ic_close{
    position: relative;
    right: 0%;
}

nav.buscando label .ic_search-copy, nav.buscando label .ic_close{
    height: 100%;
}

nav.busca label .ic_search-copy:hover{
    cursor: pointer;
}

nav.buscando label .ic_close:hover{
    cursor: pointer;
}

main{
    padding-top: 44px;
    padding-bottom: 44px;
}

.Clique-na-busca-para {
    margin-top: auto;
    margin-bottom: auto;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: -0.5px;
    text-align: center;
    color: #383743;
}