main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

main > section h1{
    margin-bottom: 0px;
}

main > section p{
    margin-bottom: 35px;
}

main > section > *, form > *{
    margin-left: auto;
    margin-right: auto;
}

main > section img.logo{
    width: 295px;
    height: 72px;
    margin-bottom: 40px;
}

form{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

form label{
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    height: 40px;
    border-bottom: solid 0.7px #383743;
}

form label > *{
    margin-top: auto;
    margin-bottom: auto;
}

form label img{
    width: 26px;
    height: 26px;
}

form label input{
    display: block;
    width: calc(100% - 26px);
    background: transparent;
    border: none;
}

.E-mail, .Senha {
    opacity: 0.5;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #383743;
}

.BEM-VINDO-AO-EMPRESA {
    width: 176px;
    height: 64px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #383743;
}

.Lorem-ipsum-dolor-si {
    width: 357.7px;
    height: 52px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.3px;
    text-align: center;
    color: #383743;
}

.Rectangle-26 {
    width: 324px;  
    height: 52.8px;
    border: none;
    border-radius: 3.6px;  
    background-color: var(--greeny-blue);
}

.Rectangle-26:hover{
    cursor: pointer;
}

.ENTER {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--white-two);
}

.error{
    color: rgb(255, 72, 72);
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.3px;
    text-align: center;
    margin-bottom: 10px;
}